.logbtn:hover{

    background: #263850;
    border: 1px solid#263850;
}
.logbtn{
    // color: #326FA7;
    border: 1px solid ;
    max-width: 120px;
    min-width: 100px;
    
}

.divo{
    display: flex;
    justify-content: center;
    align-items: center;
}